:root {
  --title-font: "Playfair Display", serif;
  --paragraph-font: "Poppins", sans-serif;
  --primary-color: #181a39;
  --secondary-color: #f76a6a;
  --tertiary-color: #fdebeb;
  --default-font-color: white;
  --paragraph-font-color: #aaaeb1;
  --border-color: #c8cfd2;
  --button-gradient: linear-gradient(
    to right,
    rgba(247, 108, 103, 1) 0%,
    rgb(238, 37, 126) 40%,
    rgba(247, 108, 103, 1) 100% /*rgba(247, 108, 103, 1) 100%*/
  );
}

body {
  background-color: var(--primary-color);
}

h1,
h2,
h3,
h4 {
  font-family: var(--title-font);
}

h1 {
  font-size: 70px;
  color: white;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

.navbar,
.presentation-text,
.btn,
.card,
.programming-skills,
.card-btn,
.contact-section p,
.contact-box p,
.open-source-paragraph {
  font-family: var(--paragraph-font);
}

.navbar {
  background-color: var(--primary-color);
}

.s1 {
  color: var(--default-font-color);
}

.s2 {
  background-color: white;
  color: black;
}

.s2 .container h2 {
  color: var(--primary-color);
}

.presentation-text,
.programming-skills,
.project-description,
.contact-section p,
.footer-separation {
  color: var(--paragraph-font-color);
}

.presentation-text,
.project-description {
  text-align: justify;
}

.presentation-text a {
  text-decoration: none;
}

.presentation-text a:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

.btn {
  border-radius: 4px;
  background-image: var(--button-gradient);
  color: var(--default-font-color);
  text-decoration: none;
  transition: 1s;
  background-size: 200% auto;
  display: block;
}

.btn:hover {
  color: var(--tertiary-color);
  background-position: right center;
}

.card-btn {
  background: var(--tertiary-color);
  color: var(--secondary-color);
  border-radius: 4px;
  text-decoration: none;
  transition: all 250ms ease-in-out;
}

.card-btn:hover {
  color: var(--tertiary-color);
  background: var(--secondary-color);
  text-decoration: none;
}

.card {
  width: 100%;
  border: 1px solid var(--border-color);
  color: var(--primary-color);
}

.programming-skills {
  list-style-type: none;
}

.programming-skills-list {
  background-color: #14234d;
  width: 90%;
}

.highlight {
  color: var(--secondary-color);
}

.project-description a {
  text-decoration: none;
}

.project-description a:hover {
  color: var(--secondary-color);
}

.tech-tag {
  color: var(--primary-color);
  border: 1px solid var(--paragraph-font-color);
  border-radius: 10px;
  padding: 4px 6px;
  background-color: var(--paragraph-font-color);
  font-size: 12px;
}

.resume-wrapper {
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  padding: 3px 8px;
}

.resume-link {
  text-decoration: none;
  color: var(--secondary-color);
}

.resume-link i {
  color: var(--secondary-color);
}

.resume-link:hover {
  color: var(--secondary-color);
}

.contact-section {
  padding: 10px;
  width: fit-content;
}

.contact-section a {
  font-size: 46px;
  font-family: var(--title-font);
  color: var(--secondary-color);
  text-decoration: none;
}

.contact-section a:hover {
  text-decoration: underline;
}

.contact-box {
  max-width: 450px;
  margin: 30px auto 10px auto;
  text-align: center;
  background-color: var(--tertiary-color);
  border-radius: 4px;
  padding: 10px 15px;
}

.contact-box h4 {
  font-size: 30px;
  color: var(--primary-color);
}
.contact-box p {
  color: #4d4d4f;
  margin-bottom: 0;
}

.footer-separation {
  width: 70%;
  display: block;
  margin: 30px auto;
}

.open-source-paragraph {
  padding-top: 10px;
  font-size: 14px;
  text-align: center;
  color: var(--primary-color);
}

.open-source-paragraph a {
  color: var(--secondary-color);
}

@media (max-width: 600px) {
  .presentation-img {
    display: none;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 50px;
  }

  .contact-box {
    width: 90%;
  }

  .contact-box .btn {
    max-width: 150px;
    margin: 0 auto;
  }

  .contact-section a {
    font-size: 20px;
  }

  .presentation-text {
    text-align: center;
  }

  .footer-separation {
    margin: 10px auto;
  }

  .project-preview {
    margin-bottom: 10px;
  }
}

@media (min-width: 1050px) {
  .programming-skills-list {
    width: 50%;
  }
}
